build
pyleoclim.egg-info
.ipynb_checkpoints
.ropeproject/
.DS_Store
.vscode
.idea
debug.log
benchmark.log
__pycache__

./**/debug.log
./**/benchmark.log
./doc_build/_build/**
./doc_build/savefig/**
*.doctree
*.pickle
*.html
*.js
*.png

