name: pyleo
channels:
  - conda-forge
  - defaults
dependencies:
  - cartopy=0.21.0
  - jupyter
  - xarray=2022.6.0
  - netCDF4=1.5.8
  - Bottleneck=1.3.4
  - dask=2022.8.0
  - climlab=0.7.13
  - numpy=1.22.0
  - pip
  - python=3.10
  - libstdcxx-ng=12.1.0
  - pytest
  - pip:
    - pangaeapy
    - git+https://github.com/LinkedEarth/Pyleoclim_util.git@master
